<head>
    <meta charset="UTF-8">
    <title>Sistema Control de Documentos</title>
    <link rel="stylesheet" href="/bootstrap/main.css">
    <script src="/bootstrap/bootstrap.bundle.min.js"></script>
</head>