<nav>
    <a href="/sistemaControlDocumentos/documentos"> Documentos </a> <br>
    <a href="/sistemaControlDocumentos/tipo_documento"> Tipos </a> <br>
    <a href="/sistemaControlDocumentos/ubicaciones_fisicas"> Ubicaciones Fisicas </a> <br>
    <a href="/sistemaControlDocumentos/equipos_sistemas"> Equipos y Sistemas </a> <br>
    <a href="/sistemaControlDocumentos/autoridades_normas"> Autoridades y Normas </a>
</nav>
