<html>
    <%- include("../partials/head") %>
<body>

    <%- include("../partials/navbar") %>

    <h1>Crear nuevo Documento</h1>
    <form action="./guardar" method="POST">
        <fieldset>
        <label for="nombre">Nombre del Documento:</label> 
        <input type="text" id="nombre" name="nombre">
        <br>

        <label for="descripcion">Descripción:</label> <br>
        <textarea id="descripcion" name="descripcion" rows="4" cols="50"></textarea>
        <br>

        <form class="row row-cols-sm-auto">
            <div class="col-12">
                <div class="input-group">
                    <input
                        class="form-control"
                        placeholder="yyyy-mm-dd"
                        name="dp"
                        [(ngModel)]="model"
                        ngbDatepicker
                        #d="ngbDatepicker"
                    />
                    <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
                </div>
            </div>
        </form>
        
        <hr />
        <pre>Model: {{ model | json }}</pre>
        
        <label for="tipo">Tipo: </label>
        <select class="form-select" aria-label="Default select example" name="tipo"  id="tipo">
            <option selected value="-1"> Hacer selección </option>
            <% for(let i in tipo_documento) { %>
                <option value='<%= tipo_documento[i].id %>'> <%= tipo_documento[i].nombre %> </option>
            <% } %>
        </select>

        <br>
        <button type = "reset">Borrar</button>
        <button type="submit">Agregar informacion</button>
        </fieldset>

        <script>
        </script>
    </form>
</html>