<body>
    <h1>Crear nueva Planta</h1>
    <form action="./guardar" method="POST">
        <fieldset>
        <label for="nombre">Nombre de la planta:</label> 
        <input type="text" name="nombre" value="nombre" />
        <label for="ciudad">Ciudad:</label> 
        <input type="text" name="ciudad" value="ciudad" />
        <label for="estado">Estado:</label> 
        <input type="text" name="estado" value="estado" />
        <br>
        <button type = "reset">Borrar</button>
        <button type="submit">Crear</button>
        </fieldset>
    </form>