<html>
    <%- include("../partials/head") %>


<body>
    <%- include("../partials/navbar") %>

    <h1>Crear nueva Planta</h1>
    <form action="./guardar" method="POST">
        <fieldset>
        <label for="nombre">Nombre de la planta:</label> 
        <input type="text" name="nombre"/> <br><br>
        <label for="ciudad">Ciudad:</label> 
        <input type="text" name="ciudad"/> <br><br>
        <label for="estado">Estado:</label> 
        <input type="text" name="estado" /> <br>
        <br>
        <button type = "reset">Borrar</button>
        <button type="submit">Crear</button>
        </fieldset>
    </form>
</body>
</html>