<html>
    <%- include("../partials/head") %>
<body>

    <%- include("../partials/navbar") %>

    <h1>Crear nueva Zona</h1>
    <form action="./guardar" method="POST">
        <fieldset>
        <label for="nombre">Nombre de la Zona (Area u Oficina):</label> 
        <input type="text" id="nombre" name="nombre">
        <br>
        
        <label for="planta">Planta: </label>
        <select class="form-select" aria-label="Default select example" name="planta"  id="planta">
            <option selected value="-1"> Hacer selección </option>
            <% for(let i in plantaList) { %>
                <option value='<%= plantaList[i].id %>'> <%= plantaList[i].nombre %> </option>
            <% } %>
        </select>

        <fieldset name="opciones">
            <legend>Edificio:</legend>
                    <div id = "edificios">
                    </div>
        </fieldset>

        <br>
        <button type = "reset">Borrar</button>
        <button type="submit">Crear</button>
        </fieldset>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>     
        <script>
            $('#planta').on('change', function(e) {
                e.preventDefault()
                let id = document.getElementById("planta").value
                $.ajax({
                    url: `/sistemaControlDocumentos/zona/getEdificios?id=${id}`,
                    dataType: "json",
                    success: function(data) {
                        var id, nombre, planta
                        console.log(data)

                        // Get the raw DOM object for the select box
                        select = $('#edificios');

                        let html = "" 

                        // Load the new options
                        for (let i in data) {
                        option = data[i];
                        html += `<input type="radio" id='${option.id}' name="edificio" value='${option.id}'> 
                            <label for='${option.id}'> ${option.nombre} </label><br>`
                        }
                        select.html(html)
                    }
                });
            })
        </script>
    </form>
</html>