<html>
    <%- include("../partials/head") %>
<body>

    <%- include("../partials/navbar") %>

    <h1>Crear nueva Zona</h1>
    <form action="./guardar" method="POST">
        <fieldset>
        <label for="nombre">Nombre de la Zona (Area u Oficina):</label> 
        <input type="text" id="nombre">
        <br>
        
        <label for="planta">Planta: </label>
        <select class="form-select" aria-label="Default select example" name="planta"  id="planta">
            <option selected value="-1"> Hacer selección </option>
            <% for(let i in plantaList) { %>
                <option value='<%= plantaList[i].id %>'> <%= plantaList[i].nombre %> </option>
            <% } %>
        </select>

        <div id="edificio">
        
        </div>

        <br>
        <button type = "reset">Borrar</button>
        <button type="submit">Crear</button>
        </fieldset>

        <script>
            document.getElementById("planta").addEventListener("change", getEdificios)
            function getEdificios(){
                let id = document.getElementById('planta').value
                fetch('./getEdificios?id=' + id).then(function(list){
                    return list.json();
                }).then(function(list){
                    div = document.getElementById("edificio")
                    html = ""
                    html += "<fieldset name='opciones'>"
                    html += "<legend>Edificio:</legend>"
                    for(let i in list) {
                        html += `<input type="radio" id="entrada${list[i].id}" value= "${list[i].id}" >`
                        html += `<label for='entrada${list[i].id}'> ${list[i].nombre} </label><br>`
                    }
                    html += "</fieldset>"
                    div.innerHTML = html
                })
            }
        </script>
    </form>
</html>